# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
flask==2.3.2
gunicorn==20.0.4
elastic-enterprise-search==7.14.0