# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
flask==1.1.1
elastic-apm[flask]==6.1.3
ecs-logging==1.0.0
psutil